<div class="container-fluid" style="background-image: url('/images/ref.jpg');" id="maincontent">
        <h3 style="margin-top: 17vh;font-weight: bold;width: 18vw;margin-left: 12vw;" id="hcnt">We help Build your
            career,sign up
            and get started with us</h3>
    </div>
    <div class="container-fluid">
        <img src="/images/partners.png" alt="" id="partimg" style="margin-top: 1vh;
    width: 98vw;
    height: 50vh;
    padding: 0 border-radius: 10px;
    border: 2px solid orange;
    border-radius:10px">
    </div>
    <div class="container-fluid" id="cardsblock" style="display: flex; margin-top:1vh">
        <div class="card">
            <img class="card-img-top" src="/images/amazon.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Amazon</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/microsoft.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Microsoft</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/google.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Google</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/flipkart.png" style="height: 17vh;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Flipkart</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/adode.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Adobe</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/facebook.webp" style="height: 17vh;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Facebook</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="text-align: center;background: black;
    color: white; margin-top:7px">
        <h3>Developed By Aditya Sinha
        </h3>
    </div>